* {
    background-color: rgb(42, 238, 160);
    color:rgb(7, 99, 61);
}

header {
    margin: 10px 50px;
    text-align: center;
    outline: rgb(7, 99, 61) solid 2px;
    padding: 10px;
}

header li {
    display: inline-block;
    margin-right: 100px;
    font-size: large;
}