* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: rgb(139, 233, 178);
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 15px;
}
.app h1{
    font-weight: 25px;
    color: rgb(7, 99, 61);
    font-weight: 700;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;
}
h2 {
    font-weight: 18px;
    color: rgb(7, 99, 61);
    font-weight: 700;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover:not([disabled]){
    background: rgb(7, 99, 61);
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: rgb(7, 99, 61);
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

#question-image{
    max-height: 300px;
    width: auto;
    object-fit: contain;
    display: block;
    margin: 10px auto;
}



.navbar {
    background-color: rgb(61, 170, 126);
    padding: 10px;
    border: 2px solid rgb(7, 99, 61);
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}
.navbar-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(7, 99, 61);
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    color: rgb(236, 228, 216); 
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: rgb(7, 99, 61);
    padding: 10px;
    background-color: rgb(61, 170, 126);
    border-radius: 5px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(139, 233, 178);
    border: 2px solid rgb(7, 99, 61);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: rgb(7, 99, 61);
    text-decoration: none;
    background-color: rgb(139, 233, 178);
    border-radius: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: rgb(61, 170, 126);
    color: rgb(236, 228, 216);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        position: static;
        width: 80%;
        margin-top: 20px;
    }
}