* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(7, 99, 61);
    font-weight: 700;
    font-size: 20px;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {

    font-size: 25px;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    margin-top: 70px;
    padding-bottom: 10px;
}

header h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 20px;
}

header p {
    padding-top: 10px;
    font-size: 16px;
}

/* Start Button */
#start {
    font-size: 28px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    margin: 20px auto;
    cursor: pointer;
    animation: changecolour 1.5s infinite;
    transition-duration: 1s;
    text-align: center;
}

/* Question Text */
#quest {
    padding: 10px 20px;
    font-size: 30px;
}

/* Answer Buttons */
#answerT,
#answerF {
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    margin: 5% 2%;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Score & Count */
#points {
    font-size: 25px;
    padding: 10px 0;
}

#count {
    font-size: 16px;
    padding-bottom: 10px;
}

/* Endgame messages */
#winner,
#looser {
    font-size: 45px;
    padding-bottom: 10px;
}

/* Reset Button */
#reset {
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    margin: 30px auto;
    animation: changecolour 1.5s infinite;
    cursor: pointer;
}

/* Animation */
@keyframes changecolour {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}

/* Responsive Design */
@media (max-width: 711px) {
    header h1 {
        font-size: 12px !important;
    }

    header p {
        font-size: 10px !important;
        letter-spacing: 7px !important;
    }

    #quest {
        font-size: 12px !important;
        padding: 0 15px !important;
    }

    #answerT,
    #answerF {
        margin: 10% 0 !important;
    }

    #reset {
        margin: 0 auto !important;
    }
}

@media (min-width: 712px) and (max-width: 910px) {
    #answerT {
        margin-left: 30% !important;
    }

    #answerF {
        margin-left: 15% !important;
    }

    #quest {
        padding: 0 15px !important;
    }


}

.navbar {
    background-color: rgb(61, 170, 126);
    padding: 10px;
    border: 2px solid rgb(7, 99, 61);
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 20px 20px 0 0;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu li a {
    text-decoration: none;
    color: rgb(7, 99, 61);
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    color: rgb(236, 228, 216); 
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: rgb(7, 99, 61);
    padding: 10px;
    background-color: rgb(61, 170, 126);
    border-radius: 5px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(139, 233, 178);
    border: 2px solid rgb(7, 99, 61);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: rgb(7, 99, 61);
    text-decoration: none;
    background-color: rgb(139, 233, 178);
    border-radius: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
}

.dropdown-content a:hover {
    background-color: rgb(61, 170, 126);
    color: rgb(236, 228, 216);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    background-color: rgb(61, 170, 126);
    color: rgb(7, 99, 61);
    text-align: center;
    padding: 2px 5px;
    border: 2px solid rgb(7, 99, 61);
    display: flex;
    justify-content: center;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    overflow: hidden;
    width: 100%; 
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
    margin-top: auto;
    border-radius: 0 0 20px 20px;
}


.content {
    flex: 1; 
    padding: 10px;
    max-width: 600px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 233, 178);
    flex-wrap: wrap; 
    padding: 20px;
    border-left: 2px solid rgb(7, 99, 61); 
    border-right: 2px solid rgb(7, 99, 61);
    flex-grow: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

/* sources: www.w3schools.com & www.stackoverflow.com */